<header class="header">
    
    <div class="open-mobile-nav">
        <div class="open-mobile-nav__icon">
            <span></span>
        </div>
    </div>

    <div class="logo-container">
        <img src="img/" alt="">
    </div>

    <div class="nav-container">

        <div class="close-mobile-nav">
            <span class="close-mobile-nav__icon">close</span>
        </div>

        <div class="nav-main">
            <nav>
                <ul>
                    <!-- <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li> -->
                    <li><a class="<%= path === '/active' ? 'active' : '' %>" href="/about">About</a></li>
                    <li><a class="<%= path === '/research' ? 'active' : '' %>" href="/research">Research</a></li>
                    <li><a class="<%= path === '/blog' ? 'active' : '' %>" href="/blog">Blog</a></li>
                    <li><a class="<%= path === '/my-patients' ? 'active' : '' %>" href="/my-patients">My Patients</a></li>
                </ul>
            </nav>
        </div>

    </div>

</header>